.SVGPlots{
	animation: forwards fadein .4s;
}

.key-selected {
	background-color: rgb(228, 44, 90);
}
.key-interred {
	background-color: #494949;
}
.key-available {
	background-color: #78d0cb;
}
.key-reserved {
	background-color: slateblue;
}

@keyframes fadein {
    0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
}